/*body{
  text-align: center;
  position: absolute;
}
img{
  position: fixed;
  left: calc(50% - calc(150px / 2));
  top: calc(50% - calc(150px / 2));
}*/

#overlay{
  /*width: 250px;
  height: 250px;*/
  background-color: hsla(0, 0%, 0%, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*top: calc(50% - calc(250px / 2));
  left: calc(50% - calc(250px / 2));*/
}

#box{
  background-color: white;
  position: absolute;
  /*width: 400px;
  height: 400px;*/
  /*top: calc(50% - calc(400px / 2));
  left: calc(50% - calc(400px / 2));*/
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);


   /*EVERYTHING AFTER THIS DOESNT MATTER!!!*/
  text-align: center;
  font-family: Comic Sans MS;
  background-image: url("https://rfclipart.com/image/big/2e-48-c0/colorful-falling-confetti-background-Download-Royalty-free-Vector-File-EPS-193743.jpg");
  background-size: 400px;
  background-repeat: no-repeat;
  color: black;
  font-size: 20px;
}
 /*EVERYTHING AFTER THIS DOESNT MATTER!!!*/
button{
  position: absolute;
  bottom: 50px;
  right: 25%;
}
h2, p{
  background-color: white;
}
/*EVERYTHING ABOVE THIS DOESNT MATTER!!!*/

/*img{
    position: absolute;
    top: calc(50% - calc(150px / 2));
    left: calc(50% - calc(150px / 2));
}*/
