html, body{
    background-color: hsl(109, 56%, 40%);
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
li{
    padding: 2% 0;
    list-style-type: none;
    background-color: hsl(90, 94%, 67%);
}
