@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
.button{
    cursor: pointer;
}


header{
    height: 130vh;
    color: white;
    background-image: url(../img/slide-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 139%;
}

header h2{
    margin: 0;
    padding: 0 3%;
    padding-top: 3%;
    font-size: 16em;
    text-transform: uppercase;
}
header h5{
    font-size: 2em;
    margin: 0;
    padding: 0 5%;
}
header div{
    padding: 30px 51px;
    background-color: #27B8D1;
    width: 7vw;
    margin: 3% 5%;
}
header div:hover{
    background-color: white;
    color: black;
    transition: all 600ms ease-in-out;
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-between;
    height: 10vw;
}
header nav h1{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}
header nav h1 a{
    width: 122px;
    display: inline-block;
    height: 100%;
    opacity: 0;
}
header nav ul{
    display: flex;
}
header nav ul li{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
header nav ul li::after{
    content: '';
    display: block;
    position: absolute;
    width: 130%;
    height: 200%;
    top: -200%;
    left: 0;
    background-image: linear-gradient(
      hsla(189, 69%, 49%, .75),
      hsla(189, 69%, 49%, 0),
      hsla(0, 0%, 100%, .75)
    );
    transition: top 400ms ease-in-out;
}
header nav ul li:hover::after{
    top: 100%;
}
header nav li span{
    flex: none;
    height: 100%;
    display: flex;
    transform: translateY(-100%);
    transition: transform 600ms ease-in-out;
}
header nav li span:first-child{
    background-color: hsla(189, 69%, 49%, 0);
    transition: transform 400ms ease-in-out;
}
header nav li span:last-child{
    background-color: hsla(0, 0%, 100%, 0);
    transition: transform 400ms ease-in-out;
}
header nav li:hover span{
    transform: translateY(0%);
}
header nav li:hover span:first-child{
    background-color: hsla(189, 69%, 49%, 1);
}

header nav li:hover span:last-child{
    background-color: hsla(0, 0%, 100%, 1):
}
header nav a{
    color: inherit;
}
header nav li a{
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

#box1{
    display: flex;
    padding: 3% 5%;
    letter-spacing: 0.5px;
}
#box1 .points{
    padding: 4vw 1.5vw;
    margin: 0 2%;
    background-color: #27B8D1;
    color: white;
}
#box1 .points h1{
    font-size: 3em;
}
#box1 .points h4{
    font-size: 20px;
}
#box1 .points p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
}
#box1 .points:hover{
    background-color: #2B2A28;
    transition: all 600ms ease-in-out;
}
#box1 .points .button{
    width: 100px;
    padding: 5% 0;
    text-align: center;
    color: #27B8D1;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #27B8D1 50%, white 50%);
    transition: background-position 1s;
}
#box1 .points .button:hover{
      color: white;
      background-position: 0 100%;
}

/*#box2{
    width: 100%;
}
#box2 .container{
    width: 100%;
}
#box2 .zoom{
    width: calc(100% / 3);
    position: relative;
    float: left;
    overflow: hidden;
}
#box2 .zoom img{
    width: 100%;
    float: left;
    transition: all 400ms ease-in-out;
}
#box2 .zoom:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
#box2 .zoom div{
    color: #3b424b;
    background-color: white;
    text-align: center;
    padding: 15%;
    position: absolute;
    margin: 22% 15%;
    transition: all 400ms ease-in-out;
}
#box2 .zoom:hover div{
    color: white;
    background-color: #2B2A28;
    cursor: pointer;
}
#box2 .zoom:hover div h5{
    color: white;
    transition: all 400ms ease;
}
#box2 .zoom:hover div p{
    color: white;
    transition: all 400ms ease;
}
#box2 .zoom div h5{
    margin: 0 9%;
}
#box2 .zoom div p{
    margin: 0 9%;
    font-size: 12px;
    line-height: 14px;
}*/

#box3{
    width: 100%;
    display: flex;
    background-color: #27B8D1;
    color: white;
    padding: 5vw 0;
}
#box3 .container{
    width: 20%;
    padding: 3%;
    display: block;
}
#box3 .container:hover img{
    transform: rotateY(360deg) scale(.9);
}
#box3 .container img{
    width: 40%;
    transition: all 600ms ease-in-out;
}
#box3 .container h2{
    font-size: 3em;
}
#box3 .container h5{
    font-size: 1em;
    letter-spacing: 1px;
}
#box3 .container p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 100;
}
#box3 .container .button{
    width: 100px;
    padding: 5% 0;
    text-align: center;
    color: #27B8D1;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #3B424B 50%, white 50%);
    transition: background-position 1s;
    margin-top: 20%;
}
#box3 .container .button:hover{
      background-position: 0 100%;
}
@media screen and (max-width: 768px) {
    #box3 .container{
        width: calc(100% / 2);
    }
}
