
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    padding: 0;
    margin: 0;
    background-color: #c07325;
    color: #a73e43;
    /*font-family: 'Secret Typewriter', arial;*/
    font-family: 'Roboto', sans-serif;
}
hr{
    width: 80%;
    height: 0px;
    border: solid #8b2d23 1px;
    margin: 5vw auto;
}
img{
    -webkit-filter: saturate(2);
    filter: saturate(2);
    width: 350px;
    height: 263px;
}
a{
    text-decoration: none;
    color: inherit;
}


#face, #info, #ach, #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
}
section#face{
    background-image: url(../img/monty.png);
    background-size: 95% auto;
    background-repeat: no-repeat;
    width: 100%;
}
#face h1{
    font-size: 3.5em;
    opacity: 0;
}
#face img{
    min-width: 30vw;
    height: auto;
    border-radius: 100% 100%;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}
#face:hover img{
    opacity: 2;
}


#info{
    position: relative;
}
#info:hover hr{
    transform: rotate(380deg);
}
#info:hover hr:nth-of-type(2){
    transform: rotate(-380deg);
}
#info p{
    width: 20%;
    font-size: .99em;
    color: #8b2d23;
}
#info hr{
    width: 60%;
    position: absolute;
    border: solid #a73e43 1px;
    margin: 0;
    left: 19%;
    top: 50%;
    transform: rotate(240deg);
    transition: all 900ms ease-in-out;
    z-index: -1;
}
#info hr:nth-of-type(2){
    transform: rotate(-240deg);
}


#skills{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
#skills div{
    width: 40%;
}
#skills div p{
    color: #8b2d23;
    /*opacity: 0;*/
    width: 350px;
    margin: 2% auto;
    transition: all 900ms ease-in-out;
}
#skills span:hover p{
    opacity: 1;
}


#ach{
    justify-content: space-around;
    /*background: -moz-radial-gradient(circle, #a73e43, #161616);
    background: radial-gradient(circle, #a73e43, #161616);*/
}
#ach div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10% 0;
    color: #a73e43;
    border-radius: 5px 5px 5px 5px;
    margin: 3px 0;
}
#ach span{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1400ms ease-in-out;
}
#ach div p{
    width: 50%;
    font-size: 1.2em;
    border: solid #8b2d23 3px;
    padding: 1vw 4%;
}


#contact{
    height: 10vh;
    line-height: 30px;
}
#contact p{
    margin: 10px;
    line-height: 20px;
    color: #8b2d23;
}
#contact .media{
    font-size: 3em;
}
#contact .slash{
    position: relative;
}
#contact .slash:hover hr{
    width: 0px;
}
#contact hr{
    margin: 0 auto;
    width: 97%;
    border: solid #a73e43 1px;
    position: absolute;
    top: 52%;
    transition: all 900ms ease-in-out;
}
/*#contact hr.phone{
    width: 8vw;
}*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


#snap{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#snap img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    min-width: 30vw;
    height: auto;
    margin: 0 auto;
}


@media screen and (max-width: 990px) {
    #face, #info, #ach, #contact {
        width: 100%;
    }
    #ach, #skills{
        display: inline;
    }
    #face h1{
        text-align: center;
    }
    #info p {
        width: 90%;
    }
    #info hr {
        width: 100%;
        left: -4%;
    }
    #skills div{
        width: 100%;
    }
    #skills div p{
        opacity: 1;
    }
    #ach div{
        margin: 5px 0;
    }
    #ach span, #face img{
        opacity: 1;
        text-align: center;
    }
    #contact hr{
        display: none;
    }
    .foot{
        margin-top: 10%;
    }
}
