body{
    margin: 0;
    padding: 0
}
section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

p{
    text-align: center;
}

.container {
    display: flex;
    align-items: stretch;
}
.container div{
    height: 90vh;
}

.container  div:nth-child(1){
     background: #009246;
     flex: 1;
 }
.container div:nth-child(2){
    background: #F1F2F1;
    flex: 2;
}
.container div:nth-child(3){
    background: #CE2B37;
    flex: 1;
}
