@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    padding: 0;
    margin: 0;
    background-color: #161616;
    color: whitesmoke;
    /*font-family: 'Secret Typewriter', arial;*/
    font-family: 'Roboto', sans-serif;
}
hr{
    width: 80%;
    height: 0px;
    border: solid hsla(0, 0%, 20%, 0.71) 1px;
    margin: 5vw auto;
}
img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 350px;
    height: 263px;
}
a{
    text-decoration: none;
    color: inherit;
}
body section{
    overflow: hidden;
}


#face, #info, #ach, #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
}

body section:nth-of-type(1){
    text-align: center;
    font-size: 2em;
}

#face{
    /*background-image: url(../img/binary.jpg);*/
    background-size: 100% auto;
}
#face h1{
    font-size: 3.5em;
}
#face img{
    min-width: 20vw;
    height: auto;
    border-radius: 100% 100%;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}
#face:hover img{
    opacity: 2;
}


#info{
    position: relative;
}
#info:hover hr{
    transform: rotate(380deg);
}
#info:hover hr:nth-of-type(2){
    transform: rotate(-380deg);
}
#info p{
    width: 20%;
    font-size: .99em;
    z-index: 2;
}
#info hr{
    width: 60%;
    position: absolute;
    border: solid hsla(0, 0%, 20%, 0.81) 1px;
    margin: 0;
    left: 19%;
    top: 50%;
    transform: rotate(240deg);
    transition: all 900ms ease-in-out;
    z-index: 1;
}
#info hr:nth-of-type(2){
    transform: rotate(-240deg);
}


#skills{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
#skills div{
    width: 40%;
}
#skills div p{
    color: whitesmoke;
    opacity: 0;
    transition: all 900ms ease-in-out;
    width: 350px;
    margin: 5% auto;

}
#skills span:hover p{
    opacity: 1;
}


#ach{
    justify-content: space-around;
    /*background: -moz-radial-gradient(circle, whitesmoke, #161616);
    background: radial-gradient(circle, whitesmoke, #161616);*/
}
#ach div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10% 0;
    color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    margin: 3px 0;
}
#ach span{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1400ms ease-in-out;
}
#ach div:hover span{
    opacity: 1;
}
#ach div p{
    width: 50%;
    font-size: 1.2em;
    border: solid whitesmoke 3px;
    padding: 1vw 4%;
}


#exam{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
#exam h2{
    font-weight: normal;
    font-size: 2.5em;
}
#exam .list ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
}
#exam .list ul li{
    width: 15%;
    height: 15%;
    overflow: hidden;
    margin: 0 2%;
}
#exam .list ul li img{
    transition: all 500ms ease-in-out;
    width: 100%;
    height: auto;
}
#exam .list ul li:hover img{
    transform: scale(1.4);
}
#exam .longList{
    display: flex;
    justify-content: center;
    width: 100%;
}
#exam .longList ul{
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
    width: 60%;
    margin-left: 0;
}
#exam .longList ul a{
    padding: 4% 8%;
    margin: 5% 0;
    border: solid whitesmoke 1px;
    transition: all 400ms ease-in-out;
}
#exam .longList ul li{
    margin: 20% 0;
    width: 110%;
}
#exam .longList ul a:hover{
    background-color: white;
    color: black;
}
#exam .longList .container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
#exam .longList .container h1{
    text-decoration: underline;
}
#exam .longList .container div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact{
    height: 10vh;
    line-height: 30px;
    padding: 2% 0;
}
#contact p{
    margin: 10px;
    line-height: 20px;
}
#contact .media{
    font-size: 3em;
}
#contact .media i{
    transition: all 900ms ease-in-out;
    border-radius: 10px 10px 10px 10px;
}
#contact .media i:hover{
    color: hsl(0, 0%, 58%);
}
#contact .slash{
    position: relative;
}
#contact .slash:hover hr{
    width: 0px;
}
#contact hr{
    margin: 0 auto;
    width: 97%;
    border: solid whitesmoke 1px;
    position: absolute;
    top: 52%;
    transition: all 900ms ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


#snap{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#snap img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    min-width: 30vw;
    height: auto;
    margin: 0 auto;
}


#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
}
#intro input{
    background-color: inherit;
    border: solid whitesmoke 3px;
    color: whitesmoke;
    margin: 2% 0;
    padding: 8px 16px;
    transition: box-shadow 500ms ease-in-out;
}
#intro input[type="text"]{
    width: 20%;
    text-align: center;
}
#intro input[type="submit"]:hover{
    cursor: pointer;
    box-shadow: 0px 0px 16px whitesmoke;
}


@media screen and (max-width: 990px) {
    #face, #info, #ach, #contact {
        width: 100%;
    }
    #ach, #skills{
        display: inline;
    }
    #face h1{
        text-align: center;
    }
    #info p {
        width: 90%;
    }
    #info hr {
        width: 100%;
        left: -4%;
    }
    #skills div{
        width: 100%;
    }
    #skills div p{
        opacity: 1;
    }
    #ach div{
        margin: 5px 0;
    }
    #ach span, #face img{
        opacity: 1;
        text-align: center;
    }
    #exam h2{
        font-size: 1.9em;
    }
    #exam .list ul{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    #exam .list ul li{
        width: 95%;
    }
    #contact{
        padding: 7% 0;
    }
    #contact hr{
        display: none;
    }
    #snap{
        height: 100%;
        padding: 25% 0;
    }
    footer{
        text-align: center;
    }
    #intro input[type="text"]{
        width: 50%;
    }
    #exam .longList, #exam .longList .container{
        flex-direction: column;
    }
    #exam .longList .container ul{
        margin-left: 0;
    }

}
