@font-face {
  font-family: 'Brush Script Std';
  src: url('../fonts/BrushScriptStd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BrushScriptStd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BrushScriptStd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Fraktur BT';
  src: url('../fonts/Fraktur-BT-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Fraktur-BT-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Fraktur-BT-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}


html{
    text-align: center;
    background-color: hsl(0, 100%, 20%);
}
body{
    display: inline-block;
    background-color: hsl(60, 100%, 97%);
    border-top: 15px solid hsl(0, 100%, 16%);
    border-bottom: 15px solid hsl(0, 100%, 16%);
    /*box-shadow: 0 0 5px 1px white, 0 0 5px 5px yellow;*/
    margin: 0;
    padding: 0;
}
hr{
    background-color: hsl(60, 100%, 97%);
    margin: 0;
    padding: 1px 0 0;
    border-width: 0 5px;
    border-color: hsl(0, 100%, 16%);
    border-style: solid;
}
h2, h3, nav a{
    font-family: 'Brush Script Std', Comic sans-serif;
    color: white;
    text-shadow:
      1px 1px .25px hsl(0, 100%, 16%),
      -1px 1px .25px hsl(0, 100%, 16%),
      1px -1px .25px hsl(0, 100%, 16%),
      -1px -1px .25px hsl(0, 100%, 16%);
}
h3{
    color: hsl(48, 100%, 41%);
}

header{
    display: flex;
    border: solid black 4px;
}
header h1{
    font-family: 'Fraktur BT', cursive;
    line-height: .85;
    font-size: 46px;
    margin: 0;
    padding: 3px 10px 17px;
    color: hsl(48, 100%, 41%);
    text-shadow:
      .5px .5px .25px black,
      -.5px .5px .25px black,
      .5px -.5px .25px black,
      -.5px -.5px .25px hsl(48, 100%, 71%)
    ;
}
header h1 span{
    font-size: 1.5em;
}
header img{
    float: left;
    border-left: solid black 4px;
}

main{
    border: solid black 4px;
}
nav ul{
    display: flex;
    padding: 10px 0;
    list-style: none;
    justify-content: space-around;
    border-width: 1px 0;
    border-top: dotted hsl(60, 7%, 70%);
    border-bottom: dotted hsl(60, 7%, 70%);
}
nav a{
    font-size: 21px;
    text-decoration: none;
    color: white;
    text-shadow:
      1px 1px .25px hsl(0, 100%, 16%),
      -1px 1px .25px hsl(0, 100%, 16%),
      1px -1px .25px hsl(0, 100%, 16%),
      -1px -1px .25px hsl(0, 100%, 16%);
    transition: all 250ms ease-in-out;
}
nav a:hover{
    font-size: 21px;
    text-decoration: none;
    color: white;
    text-shadow:
      1px 1px .25px hsl(0, 100%, 16%),
      1px 1px 10px hsl(0, 100%, 16%),
      -1px 1px .25px hsl(0, 100%, 16%),
      -1px 1px 10px hsl(0, 100%, 16%),
      1px -1px .25px hsl(0, 100%, 16%),
      1px -1px 10px hsl(0, 100%, 16%),
      -1px -1px .25px hsl(0, 100%, 16%),
      -1px -1px 10px hsl(0, 100%, 16%);

}


section{
    width: 65%;
    float: left;
    padding: 25px;
}
aside{
    width: 35%;
    float: right;
    padding: 0 50px 25px;
}
