body,html{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(73, 100, 129);
}
header a{
    text-decoration: none;
    color: whitesmoke;
}

h1{
    display: inline-block;
    font-size: 40px;
    font-family: sans-serif;
}
h1 img{
    width: 20%;
    height: auto;
    float: left;
    padding-left: 20px;
}

nav ul{
    display: inline-block;
    float: right;
    padding-top: 30px;
}

nav ul li{
    display: inline-block;
    padding: 0 70px;
    line-height: 50px;
}


article{
    width: 60%;
    background-color: hsl(0, 0%, 52%);
    float: left;
}

h2{
    margin-top: 0;
    /*background-color: hsl(211, 35%, 55%);*/
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}

body section:nth-of-type(1) article div:nth-of-type(1){
    float: left;
    width: 60%;
}


aside{
    text-align: center;
    background-color: hsl(208, 100%, 24%);
}
aside::after{
    content: "";
    display: block;
    clear: both;
}

h3{
    margin-top: 0;
    background-color: hsl(211, 35%, 55%);
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}


body section:nth-of-type(2) {
  background-color: hsl(208, 75%, 42%);
  padding: 0;
}

body section:nth-of-type(2) div{
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
}

body section:nth-of-type(2) div img{
    border-radius: 100%;
    width: 60%;
}
body section:nth-of-type(2) div a{
    color: whitesmoke;
    text-decoration: none;
}
section::after{
    content: "";
    display: block;
    clear: both;
}
