body{
    margin: 0;
}

h1, h2, h3, ul, ol{
    margin: 0;
}


header{
    background-color: hsl(136, 64%, 60%);
    padding: 20px;
}

nav{
    background-color: hsl(5, 100%, 59%);
}
nav img{
    width: 65px;
    height: auto;
}
nav h1{
    float: left;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
}
nav::after, article::after, section::after{
    content: "";
    display: block;
    clear: both;
}


article{
    background-color: hsl(62, 100%, 68%);
    width: 60%;
    float: left;
}
article div:nth-of-type(1){
    width: 60%;
    float: left;
}
article div:nth-of-type(2){
    width: 40%;
    float: left;
}
article img{
    width: 100%;
}




aside{
    width: 40%;
    float: left;
    background-color: hsl(243, 39%, 43%);
}

section:nth-of-type(1){
    background-color: hsl(217, 100%, 43%);
}



section:nth-of-type(2) div{
    width: calc(100% / 4);
    display: inline-block;
    float: left;
    text-align: center;
}
section:nth-of-type(2) img{
    width: 100%;
    border-radius: 100%;
}

section:nth-of-type(2){
    background-color: hsl(30, 96%, 59%);
}
